<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/images/logo-pequeno.png">&nbsp;Park Henri Soluções</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/park-henri/login">Login</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Cadastros</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="nav-item">
                        <a class="dropdown-item" href="/park-henri/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="/park-henri/fornecedores">Fornecedores</a>
                    </li>                  
                    <li class="nav-item">
                        <a class="dropdown-item" href="/park-henri/produtos">Produtos</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
