html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  background: black;
}

.container {
  height: 600px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.interior {
  background-color: red;
  border: solid;
  text-align: center;
  height: 50px;
  width: 180px;
}
