/* RESET */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
}

.item2 {
    flex-grow: 4;
    flex-shrink: 1;
}